
- title 'Бомбардиры'
- meta_tag :description, 'Бомбардиры соревнований по футзалу Карагандинской области 2021-2022'
- meta_tag :keywords, 'Бомбардиры , Футзал, Караганда, Карагандинская область, 2021 год, '+"#{@league_name}"

.panel.panel-success
  =render 'panel_heading'
  .panel-body 
    -if params[:old].blank?
      %h3 #{@league_name}. Бомбардиры на #{Time.now.strftime('%d.%m.%Y')}.
    -else
      %h3 #{@league_name}. Бомбардиры сезона #{League.unscoped.find(params[:id]).season.name}
    =render 'nav'
    -max_goal = @leaders[0].goal
    -place = 1
    %table.table.table-hover{class: @league_name =='Высшая лига' ? 'leader_league' :'first_league'}
      %tr
        %td
        %td.text-center игрок
        %td.text-center команда
        %td.text-center голы
      -@leaders.each_with_index do |leader, index|
        - place = max_goal == leader.goal ? place : place + 1
        - max_goal = max_goal == leader.goal ? max_goal : leader.goal
        %tr
          %td.text-center=place
          %td.text-center=leader.fio
          %td.text-center=Team.unscoped.find(leader.team_id).name
          %td.text-center=leader.goal
