- title 'Результаты матчей'
- meta_tag :description, 'Результаты матчей соревнований по футзалу Карагандинской области 2018-2019'
- meta_tag :keywords, 'Результаты матчей , Футзал, Караганда, Карагандинская область, 2018 год, '+"#{@league_name}"
.panel.panel-success
  =render 'panel_heading'
  .panel-body 
    =render 'nav'
    -if params[:old].blank?
      %h3 #{@league_name}. Результаты матчей на #{Time.now.strftime('%d.%m.%Y')}.
    -else
      %h3 #{@league_name}. Результаты матчей сезона #{League.unscoped.find(params[:id]).season.name}
    %table.table.table-hover.table-bordered.table-condensed
      %tr
        %td
        %td        
        -i=1
        -@teams.count.times do 
          %td.text-center=i
          -i+=1
      -@teams.each_with_index do |team, index|
        %tr
          %td.text-center=index+1
          %td.text-center=Team.unscoped.find(team).name
          -i =1
          -@teams.each  do |t| 
            -if team==t
              %td.text-center{style: 'background-color: rgba(59, 227, 59, 1);'} 
            -else
              -home=Schedule.unscoped.where(home_team_id: team, guest_team_id: t)
              -guest=Schedule.unscoped.where(guest_team_id: team, home_team_id: t)
              -tour = Tour.unscoped.where("tours.name !~ 'финал'").ids
              -all=Schedule.unscoped.where("home_team_id= #{team} and guest_team_id=#{t} or guest_team_id=#{team} and home_team_id=#{t}").where(tour_id: tour).order(:timestamp)
              %td.text-center
                -counter = all.length
                -all.each do |a|                  
                  
                  -if a.home_team_id==team
                    =a.result
                    -counter-=1
                    
                  -elsif a.guest_team_id==team
                    =a.result.present? ? a.result.split(':')[1]+':'+a.result.split(':')[0] : ""
                    -counter-=1
                  -if counter>0
                    %hr
                    
                  
                   
                  
                
            -i+=1
