
-league_name = League.find(params[:id]).name
.panel.panel-success
  =render 'panel_heading'
  .panel-body 
    %h3 #{league_name}. Положение команд на #{Time.now.strftime('%d.%m.%Y')}
    -if current_user.present? && current_user.active_admin  
      =link_to 'Сформировать положение', futadmin_generate_path(league_id: params[:id]), class: 'btn btn-sm btn-danger'
    %table.table.table-hover
      %tr.active
        %td.text-center место
        %td.text-center команда
        %td.text-center И
        %td.text-center В
        %td.text-center Н
        %td.text-center П
        %td.text-center з/м
        %td.text-center п/м
        %td.text-center р/м
        %td.text-center О


      -@table_results.each do |team|
        %tr
          
          %td.text-center=team.place
          %td.text-center=team.team.name          
          %td.text-center=team.count_game
          %td.text-center=team.count_win 
          %td.text-center=team.count_pat
          %td.text-center=team.count_lost
          %td.text-center=team.count_ball_create
          %td.text-center=team.count_ball_lost
          %td.text-center=team.sub_ball
          %td.text-center=team.score
    
    %h3 #{league_name}. Результаты матчей на #{Time.now.strftime('%d.%m.%Y')}.
    %table.table.table-hover.table-bordered
      %tr
        %td
        %td        
        -i=1
        -@teams.count.times do 
          %td.text-center=i
          -i+=1
      -@teams.each_with_index do |team, index|
        %tr
          %td.text-center=index+1
          %td.text-center=team.name
          -i =1
          -@teams.each  do |t| 
            -if team.id==t.id
              %td.text-center{style: 'background-color: rgba(59, 227, 59, 1);'} 
            -else
              -home=Schedule.where(home_team_id: team.id, guest_team_id: t.id)
              -guest=Schedule.where(guest_team_id: team.id, home_team_id: t.id)
              %td.text-center
                -h=home.first.present? ? home.first.result : ""
                -g=guest.first.present? && guest.first.result.present? ? guest.first.result.split(':')[1]+':'+guest.first.result.split(':')[0] : ""
                
                #{h}
                -if h.present? || g.present?  
                  %hr
                #{g}
            -i+=1
    %h3 #{league_name}. Бомбардиры на #{Time.now.strftime('%d.%m.%Y')}.
    %table.table.table-hover
      %tr.active
        %td
        %td.text-center игрок
        %td.text-center команда
        %td.text-center голы
       
      -@leaders.each_with_index do |leader, index|
        %tr
         
          %td.text-center=index+1
          %td.text-center=leader.fio
          %td.text-center=leader.team.name
          %td.text-center=leader.goal
