
- title 'Обзор матчей'
- meta_tag :description, 'Обзор матчей соревнований по футзалу Карагандинской области 2018-2019'
- meta_tag :keywords, 'Обзор матчей , Футзал, Караганда, Карагандинская область, 2018 год, '+"#{@league_name}"

.panel.panel-success
  =render 'panel_heading'
  .panel-body 
    %h3 #{@league_name}. Обзор матчей на #{Time.now.strftime('%d.%m.%Y')}.
    =render 'nav'
    -if @tours.present?
      -@tours.each do |tour|
        %h3.text-center.bg-success=tour.name
        - summary = tour.schedules.finished.where(tour_id: tour.id).where(guest_team_id: @teams).last(10)
        %table.table.table-hover.table-condensed
          %tr.active

            %td.text-center.info дата
            %td.text-center команда-хозяйка
            %td.text-center команда-гость
            %td.text-center.info счет
            %td статистика
          -summary.each do |s|
            %tr
              %td.text-center.info
                -if s.timestamp.present?
                  =l s.timestamp, format: :short
                -else
                  Дата не указана
              %td.text-center
                =s.home_team.name

              %td.text-center
                =s.guest_team.name
              %td.text-center.info=s.result

              %td
                -Doc.where(schedule_id: s.id).each do |d|
                  %p                   

                    =link_to d.filename, download_doc_path(d.id), title: 'скачать'
                    -if current_user.present? && current_user.active_admin
                      =link_to doc_path(d), method: :delete, data: {confirm:'Удалить документ?'}, title: 'удаление' do
                        %i.fa.fa-trash
                -if current_user.present? && current_user.active_admin
                  = form_tag doc_index_path, method: :post, multipart: true do
                    =file_field_tag :file, :multiple => true, name: "attachments[]"
                    =hidden_field_tag :schedule_id, s.id
                    =hidden_field_tag :league_id, params[:id]
                    = submit_tag 'загрузить'
