- title 'Положение команд'
- meta_tag :description, 'Положение команд соревнований по футзалу Карагандинской области 2018-2019'
- meta_tag :keywords, 'Положение команд , Футзал, Караганда, Карагандинская область, 2018 год, '+"#{@league_name}"
-counter = params[:id].to_i==1 ? 4 :3

.panel.panel-success
  =render 'panel_heading'
  .panel-body
    -if current_user.present? && current_user.active_admin && params[:old].blank? 
       
      =link_to 'Сформировать положение', futadmin_generate_path(league_id: params[:id]), class: 'btn btn-sm btn-danger'
    
    -if @table_results.present?
      -if params[:old].blank? 
        %h3 #{@league_name}. Положение команд на #{Time.now.strftime('%d.%m.%Y')}
      -else
        %h3 #{@league_name}. Положение команд сезона #{League.unscoped.find(params[:id]).season.name}
      =render 'nav'
      %table.table.table-hover.table-condensed
        %tr.active
          %td.text-center место
          %td.text-center команда
          %td.text-center И
          %td.text-center В
          %td.text-center Н
          %td.text-center П
          %td.text-center з/м
          %td.text-center п/м
          %td.text-center р/м
          %td.text-center О


        -@table_results.each do |team|
          %tr{class: counter >0 ? 'leader_team' :''}
            
            %td.text-center=team.place
            %td.text-center
              =Team.unscoped.find(team.team_id).name
              
            %td.text-center=team.count_game
            %td.text-center=team.count_win 
            %td.text-center=team.count_pat
            %td.text-center=team.count_lost
            %td.text-center=team.count_ball_create
            %td.text-center=team.count_ball_lost
            %td.text-center=team.sub_ball
            %td.text-center=team.score
            -counter-=1
      %br
      -if @table_qfinal.present? ||@table_sfinal.present? ||@table_third.present? ||@table_final.present? 

        .table_final
          
          %table.table.table-condensed
            %tr.top-line
              %td.text-left
                %h4 1/4 финала
              %td.text-left
                %h4 1/2 финала
              %td.text-center{colspan:2}
                %h2.text-success Финал
              %td.text-right
                %h4 1/2 финала
              %td.text-right
                %h4 1/4 финала
            %tr
              %td.text-left.bottom_border
                -if @table_qfinal[0].present?
                  =@table_qfinal[0].home_team.name
                  
              %td.no_border
              %td.no_border{colspan:2}
              %td.no_border
              %td.text-left.bottom_border
                -if @table_qfinal[2].present?
                  =@table_qfinal[2].home_team.name
                  
              
            %tr
              %td.right_border.text-center
                -if @table_qfinal[0].present?&&@table_qfinal[0].result.present?
                  %strong=@table_qfinal[0].result
              %td.bottom_border
                -if @table_sfinal[0].present?
                  =@table_sfinal[0].home_team.name
                  
                -else
                  победитель пары
              %td.no_border{colspan:2}
              %td.bottom_border.right_border
                -if @table_sfinal[1].present?
                  =@table_sfinal[1].home_team.name
                  
                -else
                  победитель пары
              %td.no_border.text-center
                -if @table_qfinal[2].present?&&@table_qfinal[2].result.present?
                  %strong=@table_qfinal[2].result
            %tr
              %td.text-left.bottom_border.right_border
                -if @table_qfinal[0].present?
                  =@table_qfinal[0].guest_team.name

              %td.right_border
              %td.right_border{colspan:2}
                

              %td.right_border
              %td.text-left.bottom_border
                -if @table_qfinal[2].present?
                  =@table_qfinal[2].guest_team.name



            %tr
              %td.no_border
              
              %td.right_border.text-center
                
                -if @table_sfinal[0].present?&&@table_sfinal[0].result.present?
                  %strong=@table_sfinal[0].result
              %td.bottom_border.right_border{colspan:2}
                -if @table_final[0].present?
                  =@table_final[0].home_team.name
                  \-
                  =@table_final[0].guest_team.name
                  -if @table_final[0].result.present?
                    %strong=@table_final[0].result

              %td.no_border
                
                -if @table_sfinal[1].present?&&@table_sfinal[1].result.present?
                  %strong=@table_sfinal[1].result
              %td.no_border

            %tr
              %td.text-left.bottom_border
                -if @table_qfinal[1].present?
                  =@table_qfinal[1].home_team.name
                  -if @table_qfinal[1].result.present?
                    =@table_qfinal[1].result
              %td.right_border
              %td.right_border{colspan:2}
                
              %td.no_border
              %td.text-left.bottom_border
                -if @table_qfinal[3].present?
                  =@table_qfinal[3].home_team.name
                  
  
            %tr
              %td.right_border.text-center

                -if @table_qfinal[1].present?&&@table_qfinal[1].result.present?
                  %strong=@table_qfinal[1].result
                
              %td.bottom_border.right_border
                -if @table_sfinal[0].present?
                  =@table_sfinal[0].guest_team.name
                -else
                  победитель пары    
              %td.right_border{colspan:2}
              %td.bottom_border.right_border
                -if @table_sfinal[1].present?
                  =@table_sfinal[1].guest_team.name  
                -else
                  победитель пары                  
              %td.no_border
                
                -if @table_qfinal[3].present?&&@table_qfinal[3].result.present?
                  %strong=@table_qfinal[3].result
            %tr
              %td.text-left.bottom_border.right_border
                -if @table_qfinal[1].present?
                  =@table_qfinal[1].guest_team.name
                -else
                  победитель пары
              %td.no_border
              %td.no_border{colspan:2}
              %td.right_border
              %td.text-left.bottom_border
                -if @table_qfinal[3].present?
                  =@table_qfinal[3].guest_team.name  
            %tr
              %td.no_border{colspan:6} 

                -if @table_third.present?
                  %h4 Матч за 3 место:
                  =@table_third[0].home_team.name
                  \-
                  =@table_third[0].guest_team.name
                  -if @table_third[0].result.present?
                    %strong=@table_third[0].result
:css
  tr.top-line>td, .no_border{border: none !important;}
  .bottom_border{border-bottom: 1px solid; border-top: none !important;}
  .right_border{border-right: 1px solid;}
  .left_border{border-left: 1px solid;}