- title 'Главная'
- meta_tag :description, 'Расписание следующего тура, итоги прошедшего тура, новости соревнований по футзалу Карагандинской области 2018-2019'
- meta_tag :keywords, 'Футзал, Караганда, Карагандинская область, 2018 год, расписание игр футзал'
.panel.panel-success
  .panel-heading
    Новости
  .panel-body
    -if @items.present?
      %ul.list-group
        -@items.each do |item|
          %li.list-group-item
            
            .row
              .col-md-3
              
                .text-center
                  .photo_large
                    = image_tag item.image.url(:small) if item.image.present?
              .col-md-9


                %h3.text-center=link_to item.title, items_path(item), target: :blank

                %p=item.body

                %p.pull-right
                  %i.fa.fa-calendar
                  =l item.created_at+6.hours, format: :short
                  
    -else
      .text-center Пока не создано ни одной новости

-if @results_current.present?
  .panel.panel-success
    .panel-heading
      Расписание и результаты текущего тура
    .panel-body
    
      %h3.text-center=@tour_current.name
      %ul.list-group
        %table.table.table-hover.table-condensed
          %tr.active
            %td Дата и время
            %td Хозяин
            %td Гость
            %td Счет
          -@results_current.each do |result|
            =render 'list', result: result

-if @schedules_future.present?
  .panel.panel-success
    .panel-heading
      Расписание следующего тура
    .panel-body
    
      %h3.text-center=@tour_future.name
      %ul.list-group
        %table.table.table-hover.table-condensed
          %tr.active
            %td Дата и время
            %td Хозяин
            %td Гость
          -@schedules_future.each do |schedule|
            %tr
              %td
                -if schedule.timestamp.present?
                  =l schedule.timestamp, format: :short
                -else
                  Не указано
              %td=link_to schedule.home_team.name, team_path(schedule.home_team.id), target: :blank, title: "#{schedule.home_team.league.name}. #{schedule.home_team.table_result.first.place} место. Перейти на страницу команды"
              %td=link_to schedule.guest_team.name, team_path(schedule.guest_team.id), target: :blank, title: "#{schedule.guest_team.league.name}. #{schedule.guest_team.table_result.first.place} место. Перейти на страницу команды"
    
-if @result_final.present? || @result_semifinal.present?
  .panel.panel-success
    .panel-heading
      Финальные игры. Высшая лига.
    .panel-body
      -if @result_semifinal.present?  
        %h3.text-center Полуфинал
        %ul.list-group
          %table.table.table-hover.table-condensed
            %tr.active
              %td Дата и время
              %td Команда
              %td Команда
              %td Счет
            -@result_semifinal.each do |result|
              =render 'list', result: result
      -if @result_final.present?  
        %h3.text-center Финал
        %ul.list-group
          %table.table.table-hover.table-condensed
            %tr.active
              %td Дата и время
              %td Команда
              %td Команда
              %td Счет
            -@result_final.each do |result|
              =render 'list', result: result
