- title 'Судьи'
- meta_tag :description, 'Судейская коллегия соревнований по футзалу Карагандинской области 2018-2019'
- meta_tag :keywords, 'Судьи, судейская коллегия, футзал, Караганда, Карагандинская область, 2018 год, расписание игр футзал'
.panel.panel-success
  .panel-heading
    Судейская коллегия
  .panel-body
    -if @text.present?
      -@text.each_with_index do |c, index|
        .photo
          #{image_tag c.image.url(:small) if c.image.present?} 
          =image_tag("no_foto.jpg") unless c.image.exists?
          %figcaption
            #{c.fio if c.fio.present?},
            #{c.city if c.city.present?},
            #{c.category if c.category.present?}
            #{c.comment if c.comment.present?}
