.panel.panel-success
  .panel-heading
    Судейская коллегия
  .panel-body
    -if @text.present?
      -@text.each_with_index do |c, index|
        %p
          #{index+1}. 
          #{image_tag c.image.url(:small) if c.image.present?} 
          #{c.fio if c.fio.present?}, 
          #{c.city if c.city.present?}, 
          #{c.category if c.category.present?}  
          #{c.comment if c.comment.present?}
