!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title 
      = if content_for?(:title) then yield(:title) + ' | ' end
      Официальный сайт комитета по футзалу Карагандинской областной ассоциации футбола
    
    %meta{name:"keywords", content:"футзал, караганда, таблица, игра, расписания, встреча"}
    %meta{name:"description", content:"сайт карагандинской областной ассоциации футбола, на котором размещена информация о проходящих встречах, выложено расписание игр и их итоги, размещена информация о командах, принимающих участвие в турнире"}
    %meta{name:"author", content: 'Proshakova Maria'}
    %meta{name:"copyright", content: 'Все права принадлежат комитету по футзалу Карагандинской областной ассоциации футбола'}
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/

    
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .wrapper
      .content
        =render 'share/label_bar'
        =render 'share/topbar'


        .row
          .col-md-10.col-md-offset-1
            = yield
        =render 'share/footer'
    
:javascript
    $(window).scroll(function () {
        if ($(this).scrollTop() > 120) {

            $('#scroller').fadeIn();
            $('.my_menu').addClass('positionTop');
        } else {
            $('#scroller').fadeOut();
            $('.my_menu').removeClass('positionTop');
            }
    });


    $('#scroller').click(function () {
        $('body,html').animate({
            scrollTop: 0
        }, 400);
        return false;
    });

  (function (d, w, c) {
      (w[c] = w[c] || []).push(function() {
          try {
              w.yaCounter51124184 = new Ya.Metrika2({
                  id:51124184,
                  clickmap:true,
                  trackLinks:true,
                  accurateTrackBounce:true
              });
          } catch(e) { }
      });

      var n = d.getElementsByTagName("script")[0],
          s = d.createElement("script"),
          f = function () { n.parentNode.insertBefore(s, n); };
      s.type = "text/javascript";
      s.async = true;
      s.src = "https://mc.yandex.ru/metrika/tag.js";

      if (w.opera == "[object Opera]") {
          d.addEventListener("DOMContentLoaded", f, false);
      } else { f(); }
  })(document, window, "yandex_metrika_callbacks2");
%noscript
  %div
    %img{:alt => "", :src => "https://mc.yandex.ru/watch/51124184", :style => "position:absolute; left:-9999px;"}/
    / /Yandex.Metrika counter

