!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Официальный сайт комитета по футзалу Карагандинской областной ассоциации футбола
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .wrapper
      .content
    
        #label_bar
          .row
            .col-md-6
              .pull-left
                %a{:href => "/", title: 'На главную'}
                  =image_tag("brand.png", size: "75")
                Комитет по футзалу Карагандинской областной ассоциации футбола
            .col-md-6
              .well.pull-right
            
          
                
                
                %a{:href => "https://fifa.com", target: :blank, title: 'Переход на официальный сайт FIFA'}
                  =image_tag("fifa.png", size: "55")

                
                %a{:href => "https://uefa.com", target: :blank, title: 'Переход на официальный сайт UEFA'}
                  =image_tag("uefa.png", size: "55")
                
                %a{:href => "https://koaf.kz", target: :blank, title: 'Переход на официальный сайт КОАФ'}
                  =image_tag("koaf.png", size: "55")
           
        #custom-bootstrap-menu.navbar.navbar-default{:role => "navigation"}
          .container-fluid
            .navbar-header
              %a.navbar-brand{:href => "#"} 

              %button.navbar-toggle{"data-target" => ".navbar-menubuilder", "data-toggle" => "collapse", :type => "button"}
                %span.sr-only Toggle navigation
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
            .collapse.navbar-collapse.navbar-menubuilder
              %ul.nav.navbar-nav.navbar-left
                %li
                  =link_to root_path do                    
                    %i.fa.fa-home
                    Главная
                %li
                  =link_to '#' do
                    %i.fa.fa-book
                    Документы
                %li
                  =link_to root_path do                    
                    %i.fa.fa-id-card
                    Судьи
                %li.active
                  =link_to root_path do                    
                    %i.fa.fa-id-card
                    Команды
                %li
                  =link_to root_path do                    
                    %i.fa.fa-table
                    Таблицы
                %li
                  =link_to root_path do                    
                    %i.fa.fa-file
                    Новости
                %li
                  =link_to root_path do                    
                    %i.fa.fa-phone
                    Контакты
                
            
           
                
            
        .row
          .col-md-10.col-md-offset-1
            = yield
      .footer
        .row
          .col-md-12
            .text-center
              \&#xA9; 2018 Все права защищены. Копирование допускается с указанием на первоисточник.

