!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Панель администратора 
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .wrapper
      .content
    
               
        #custom-bootstrap-menu.navbar.navbar-default{:role => "navigation"}
          .container-fluid
            .navbar-header
              %a.navbar-brand{:href => "#"} 

              %button.navbar-toggle{"data-target" => ".navbar-menubuilder", "data-toggle" => "collapse", :type => "button"}
                %span.sr-only Toggle navigation
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
            .collapse.navbar-collapse.navbar-menubuilder
              %ul.nav.navbar-nav.navbar-left
                %li
                  =link_to root_path do                    
                    %i.fa.fa-home
                    На сайт
                %li
                  =link_to futadmin_doc_index_path do
                    %i.fa.fa-book
                    Документы
                %li
                  =link_to root_path do                    
                    %i.fa.fa-id-card
                    Судьи
                %li.active
                  =link_to root_path do                    
                    %i.fa.fa-id-card
                    Команды
                %li
                  =link_to root_path do                    
                    %i.fa.fa-table
                    Таблицы
                %li
                  =link_to root_path do                    
                    %i.fa.fa-file
                    Новости
                %li
                  =link_to root_path do                    
                    %i.fa.fa-phone
                    Контакты
             
              %ul.nav.navbar-nav.navbar-right              
                -if user_signed_in? 
                  
                  %li
                    =link_to destroy_user_session_path, :method => :delete, title:'Выйти' do
                      %i.fa.fa-sign-out
                  -if current_user.active_admin
                    %li  
                      =link_to futadmin_main_index_path, title: 'панель администратора' do
                        %i.fa.fa-user-o
                -else
                  %li    
                    =link_to new_user_session_path do
                      %i.fa.fa-sign-in
                  %li
                    =link_to new_user_registration_path do
                      %i.fa.fa-registered
           
                  
            
            
           
                
            
        .row
          .col-md-10.col-md-offset-1
            = yield

